[ENGINE]
Response File Version=1.0.0.0.0
[GENERIC]
ORACLE_HOME={{ oracle.middleware_dir }}
INSTALL_TYPE=SOA Suite
MYORACLESUPPORT_USERNAME=
MYORACLESUPPORT_PASSWORD=<secure value="">
DECLINE_SECURITY_UPDATES=true
SECURITY_UPDATES_VIA_MYORACLESUPPORT=false
PROXY_HOST=
PROXY_PORT=
PROXY_USER=
PROXY_PWD=<secure value="">
COLLECTOR_SUPPORTHUB_URL=
 
</secure></secure>
